.header__video {
    width: 100%;
}

.main__sec1 {
    padding: 0px;

    .card__buttom {

        .hov {
            width: 120px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: 20px;
            height: 55px;
            text-align: center;
            border: none;
            background-size: 300% 100%;
            border-radius: 50px;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            background-image: linear-gradient(to right, #443f3b, #110d0e, $amarillo);
            

            &:hover {
                background-position: 100% 0;
                -moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;

            }

        }
    }

    h1 {
        color: white;
    }

    &__box {
        background-color: $amarillo;
        margin-left: 0px !important;
        margin-right: 0px !important;

        &-1 {
            justify-content: center;
        }


        &-2 {
            overflow: hidden;
            max-width: 100%;

            &-img {
                width: 100%;
            }
        }

    }

}

.navbar-toggler {
    background-color: white;
}

.seccion2 {
    img {
        animation: rotation 15s infinite linear forwards;

        @keyframes rotation {
            0% {
                transform: rotateX(0deg);
            }

            25% {
                transform: rotateX(20deg);
            }

            50% {
                transform: rotateX(5deg);
            }

            75% {
                transform: rotateX(-20deg);
            }

            100% {
                transform: rotateX(0deg);
            }
        }
    }

    &__caja {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 5px;

        h3 {
            text-align: center;
            color: $amarillo;

        }

        p {
            color: white;
            text-align: left;
            padding: 10px;
            margin-right: 30px;
            margin-left: 30px;
        }
    }

}

.section__logo {
    background-color: $amarillo;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(163, 155, 155);

    img {
        width: 100px;
        padding: 10px;
    }
}

.section3__title {
    text-align: center;
    align-items: center;

    &-text {
        font-size: 3vw;
    }

}


.social__box__img {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}