.main {
    &__section {

        /*seccion principal*/
        &__img-1 {
            width: 100%;
        }

        &__box {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            padding: 20px;

            &__card {
                /*tarjetas amarillas*/
                background-color: $amarillo;
                width: 300px;
                height: 300px;
                padding: 20px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                h2 {
                    color: white;
                }

                h5 {
                    color: white;
                }

                &-left {
                    padding: 50px
                }

            }
        }

    }

}